.container{
    height : 600px;
    border: 3px solid blueviolet;
    position: relative ;
    color: red ;
    margin: 0em !important;
    display: flex ;
}
.pipediv1{
    height:250px;
    width :150px;
}
.pipediv2{
    height:250px;
    width :150px;
}
.pipediv3{
    height:250px;
    width :150px;
}
.pipe{
    height : 250px;
    width: 8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative ;
    margin : 0px;
}
#pipe1{
    top : 100;
    right: -300 ;
    background-color: teal;
    /* border : 1px solid teal ; */
}
#base1{
    height: 10px;
    top : 100;
    right: -230 ;
    position: relative ;
    background-color: teal;
}
#pipe2{
    top : 100px;
    left: 500px;
    
    background-color: red;
    /* border : 1px solid teal ; */
}
#base2{
    height: 10px;
    top : 100;
    right: -430 ;
    position: relative ;
    background-color:  red;
}
#pipe3{
    top : 100px;
    left: 700px;
    background-color: green;
    /* border : 1px solid teal ; */
}
#base3{
    height: 10px;
    top : 100;
    right: -630 ;
    position: relative ;
    background-color: green;
}
