.container{
    height : 600px;
    border: 3px solid blueviolet;
    position: relative ;
    color: red ;
    margin: 0em !important;
    display: flex;
}
.pipediv1{
    height:250px;
    width :150px;
    top : 150;
    right: -300 ;
    /* border :1px solid red; */
    position: relative ;
    align-items: center;
}
.pipediv2{
    height:250px;
    width :150px;
    top : 150;
    right: -450 ;
    /* border: 1px solid blue; */
    position: relative ;
}
.pipediv3{
    height:250px;
    width :150px;
    top : 150;
    right: -600 ;
    /* border: 1px solid green; */
    position: relative ;
}
.pipe{
    height : 250px;
    width: 8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative ;
    margin : 0px;
}
#pipe1{
    left: 70;
    background-color: teal;
     
}
#base1{
    height: 10px;
    position: relative ;
    background-color: teal;
}
#pipe2{
    left: 70;
    background-color: red;
}
#base2{
    height: 10px;
    position: relative ;
    background-color:  red;
}
#pipe3{
     left: 70 ;
    background-color: green;
     
}
#base3{
    height: 10px;
    position: relative ;
    background-color: green;
}
